In [1]:
# **Imports**
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

# Loading and Preparing the data

## Loading the Data

In [2]:
local_path_target = '/mnt/g/Meine Ablage/raw_data/Target/Hourly/energy_generation_data/df_deutschland.csv'

local_path_feature = "/mnt/g/Meine Ablage/raw_data/Features/DATAFRAMES/wind_hourly_clean.csv"

data_target = pd.read_csv(local_path_target)
data_feature = pd.read_csv(local_path_feature, index_col=0)

data_target['Date'] = pd.to_datetime(data_target.Date)

In [3]:
generation_df = data_target.groupby(by=data_target['Date']).sum()
generation_df.head(3)

                     Wind offshore[MWh]  Wind onshore[MWh]  Photovoltaics[MWh]
Date
2015-01-01 00:00:00               517.0             8129.0                 0.0
2015-01-01 01:00:00               516.0             8300.0                 0.0
2015-01-01 02:00:00               514.0             8544.0                 0.0

In [4]:
wind_df = generation_df[['Wind offshore[MWh]','Wind onshore[MWh]']].sum(axis=1)
wind_df.head(3)

Date
2015-01-01 00:00:00    8646.0
2015-01-01 01:00:00    8816.0
2015-01-01 02:00:00    9058.0
dtype: float64

In [5]:
data_feature.index = pd.to_datetime(data_feature.index)
data_feature.head(3)

,90,125,161,164,183,197,198,232,282,298,...,15000,15044,15120,15122,15189,15200,15207,15214,15444,1001
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,2.1,0.7,0.9,5.1,11.3,3.2,1.6,1.1,0.7,7.0,...,3.9,0.8,4.9,3.2,4.4,3.0,0.5,1.2,1.0,2.2
2015-01-01 01:00:00,2.7,0.3,0.8,4.9,13.0,3.2,2.6,1.5,0.9,7.4,...,3.4,0.7,5.3,2.6,6.0,2.8,0.8,1.1,1.0,2.5
2015-01-01 02:00:00,2.5,0.8,1.3,3.9,12.8,3.2,3.2,1.7,0.9,7.1,...,3.8,1.3,4.8,2.3,5.7,3.1,0.5,1.8,1.2,2.6

In [6]:
data_feat_mean = data_feature.mean(axis=1)